<p>institue works!</p>
<a routerLink="InstituteOfCardiacSciences">InstituteOfCardiacSciences</a>&nbsp;

<a routerLink="InstituteOfDentalScience">InstituteOfDentalScience</a>&nbsp;
<a routerLink="InstituteOfGastroenterologyHepatology"
  >InstituteOfGastroenterologyHepatology</a
>&nbsp;

<a routerLink="InstituteOfHeartLungTransplantation"
  >InstituteOfHeartLungTransplantation</a
>&nbsp;
<a routerLink="InstituteOfNeuroSciences">InstituteOfNeuroSciences</a>&nbsp;
<a routerLink="">Refresh</a>&nbsp;
<div style="background-color: gold">
  <router-outlet></router-outlet>
</div>
